@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');

body {
  background-color: #fffcf9;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  color: #3E3637;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #3E3637;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'Merriweather Sans', sans-serif;
  color: #3E3637;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {

  display: flex;
  justify-content: center;
}

.restaurant-info {
display: flex;

}

.restaurant-info > p {
  padding: 10px;

}

.about-us {

  padding: 1em 2em;
/*   border: 1px solid #3E3637; */
  margin: 1em;
  border: 1px solid #3E3637;
}

.logo {
  width: 60px;
  height: 60px;
}

.restaurant-name {
  padding-left: 10px;

}

.menu-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;

}

.menu-item {
  display: flex;
  flex-direction: column;

  align-items: stretch;
  margin: 1em;
  padding: 2em;
/*   border: 1px solid #3E3637; */
  border: 1px solid #3E3637;
  height: 740px;

}

.img-container {
  width: 9em;
  height: 6em;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-items: center;
  margin-right: 3em;
  justify-content: center;
}

img {
  object-fit: cover;
  height: 100%;

}

.option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  margin-bottom: 2em;


}

.description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;



}

.footer-container {

}

.find-us {
  padding: 1em;

}

.social {
  height: 100px;
  padding: 1em;

}
